<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-5.3.3-dist/css/bootstrap-grid.min.css">


</head>

<body>



    <div class="row">
        @RenderBody();
    </div>


    <script src="../assets/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="../assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        let inputFile = document.querySelector(".inputFile");

        inputFile.addEventListener('change', function (event) {
            console.log("thong tin img: ", event.target.files[0])
            let UrlLink = document.getElementById("output");
            Object.assign(UrlLink.style, {
                height: '100px',
                width: '100px',
                objectFit: 'contain',
                marginTop: "20px",
            })
            UrlLink.src = URL.createObjectURL(event.target.files[0])
        })
    </script>
</body>

</html>