@model List<WEB_MANGE_COURCE.Models.UserViewModel>

@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>User List</h2>
    <p>
        @Html.ActionLink("Create New", "user", "ManagerUser", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Username)</td>
                        <td>@Html.DisplayFor(modelItem =>item.Password)<td>
                        <td>@Html.DisplayFor(modelItem => item.Role)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
