
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("nav_bar")

<div class="col-9">
    <div class="row">
        @Html.Partial("header_right_account")
    </div>
    <div class="row border border-1 p-3">
        <h3>WELLCOME USER NAME</h3>
        <div class="col-6">
            <ul class="list-unstyled">
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        Being offered the position of Product Development Director but applying for a lower position, how does the FPT Polytechnic valedictorian earn an income of up to 50 million/month?
                        17:47 April 2, 2024
                        Participated in "Opportunities for Who" season 2 (2020) and was "competed for" by three bosses, and was offered the position of Product Development Director at FPT Telecom with a salary of nearly 23 million even though he hadn't graduated yet, that was already a lot. the wish of many students. Having such a "dream" in real life, why did Le Manh Cuong - a former IT student at FPT Polytechnic - choose to apply for a lower position?

                        Le Manh Cuong is a former student majoring in Mobile Programming at FPT Polytechnic Hanoi. Participating in "Opportunities for Who" season 2 (2020) - when he was still out of school, Manh Cuong made an impression because he dared to quit studying Law at a university and pursue college, along with his brilliant arguments. knowledgeable about IT and AI at the program. Because of that, the three bosses constantly "competed" for him, offering salaries that an undergraduate student would never dare to dream of.

                        After that, Manh Cuong chose to join FPT Telecom under boss Hoang Nam Tien - Chairman of the Board of Directors of FPT Telecom with the position of Product Development Director/Mega App with a salary of 22,678,900 VND. However, after the program, he applied to work at a lower position as a Programmer. After 4 years, until now, does this choice make Manh Cuong regret it?
                    </div>
                </li>
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        Being offered the position of Product Development Director but applying for a lower position, how does the FPT Polytechnic valedictorian earn an income of up to 50 million/month?
                        17:47 April 2, 2024
                        Participated in "Opportunities for Who" season 2 (2020) and was "competed for" by three bosses, and was offered the position of Product Development Director at FPT Telecom with a salary of nearly 23 million even though he hadn't graduated yet, that was already a lot. the wish of many students. Having such a "dream" in real life, why did Le Manh Cuong - a former IT student at FPT Polytechnic - choose to apply for a lower position?
                    </div>
                </li>
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                      
                        Le Manh Cuong is a former student majoring in Mobile Programming at FPT Polytechnic Hanoi. Participating in "Opportunities for Who" season 2 (2020) - when he was still out of school, Manh Cuong made an impression because he dared to quit studying Law at a university and pursue college, along with his brilliant arguments. knowledgeable about IT and AI at the program. Because of that, the three bosses constantly "competed" for him, offering salaries that an undergraduate student would never dare to dream of.

                        After that, Manh Cuong chose to join FPT Telecom under boss Hoang Nam Tien - Chairman of the Board of Directors of FPT Telecom with the position of Product Development Director/Mega App with a salary of 22,678,900 VND. However, after the program, he applied to work at a lower position as a Programmer. After 4 years, until now, does this choice make Manh Cuong regret it?
                    </div>
                </li>
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        Being offered the position of Product Development Director but applying for a lower position, how does the FPT Polytechnic valedictorian earn an income of up to 50 million/month?
                        17:47 April 2, 2024
                        Participated in "Opportunities for Who" season 2 (2020) and was "competed for" by three bosses, and was offered the position of Product Development Director at FPT Telecom with a salary of nearly 23 million even though he hadn't graduated yet, that was already a lot. the wish of many students. Having such a "dream" in real life, why did Le Manh Cuong - a former IT student at FPT Polytechnic - choose to apply for a lower position?

                        Le Manh Cuong is a former student majoring in Mobile Programming at FPT Polytechnic Hanoi. Participating in "Opportunities for Who" season 2 (2020) - when he was still out of school, Manh Cuong made an impression because he dared to quit studying Law at a university and pursue college, along with his brilliant arguments. knowledgeable about IT and AI at the program. Because of that, the three bosses constantly "competed" for him, offering salaries that an undergraduate student would never dare to dream of.

                        After that, Manh Cuong chose to join FPT Telecom under boss Hoang Nam Tien - Chairman of the Board of Directors of FPT Telecom with the position of Product Development Director/Mega App with a salary of 22,678,900 VND. However, after the program, he applied to work at a lower position as a Programmer. After 4 years, until now, does this choice make Manh Cuong regret it?
                    </div>
                </li>
                <li class="media my-4 d-block">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control  w-100" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Search...">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-6 ">
            <div class="w-100">
                <img style="width: 100%; height: 600px; object-fit: contain;"
                     src="https://btec.fpt.edu.vn/wp-content/uploads/2024/01/Ban-sao-cua-BII06554-min.jpg"
                     alt="">
            </div>
        </div>
        <hr class="  mt-3 me-3 mx-3">

        <img src="https://www.solopress.com/thumbnails/0/205395/12/vinyl-banner-category-page-banner.jpeg"
             alt="">
        <p>icon Address</p>
        <p>icon Contacts</p>
    </div>
</div>