@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-8">
    <div class="row">
        <div class="col-8">
            <p class="text-justify">
                There are +1,500 tuition scholarships worth up to more than 27.3 billion VND. Student scholarships can be increased up to 70% of tuition fees. In addition, candidates who enroll early will receive a 10% tuition discount.
                BTEC FPT diplomas issued by the UK are not only recognized in Vietnam but are also valid in more than 100 countries and more than 700 schools and educational organizations around the world.
                BTEC FPT has a cooperation network with many businesses and corporations that have an ideal working environment. Students will have direct contact with these businesses in training activities and post-graduation recruitment orientation. After graduating, students can apply for jobs with salaries up to 20 million/month.
                The study program at BTEC FPT is 100% imported from the UK. 80% of time is spent practicing. Students will be trained exactly what businesses need, ensuring they can get a job right after graduation and have superior capabilities compared to the general human resource market. Training quality meets 5-star standards.
                100% International series of classes & activities to create a dynamic British learning environment such as:
                - E Zone area (English only)
                - Regularly participate in classes at the British and American Embassies,...
                - Transnational class (Study with foreign students)
            </p>
        </div>
        <div class="col-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThxg1fdAT9hUjjQq3xnEPziK1fzS7xmcU_gxILMI5JSQ&s"
                 alt="">
        </div>
    </div>

</div>
<div class="col-4">
    <div class="row">
        <div class="col-6">
            <img style="width: 90%; min-height: 230px; object-fit: cover;"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxpq1PdQw-RKr8uyzI8MWF25aSmm_H4AL-9KsM7A4dOQ&s"
                 alt="">
        </div>
        <div class="col-6">
            <img style="width: 90%; min-height: 230px; object-fit: cover;"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1P6RJmtHkQ0JeNxHhGKeDuO4RszC9Jub9sL84Wh__lQ&s"
                 alt="">
        </div>
    </div>
</div>

@Html.Partial("row2");
@Html.Partial("row3");
