<div class="row">
    <div class="col-8">
        <div class="row">

            <p class="text-justify">
                The study program at BTEC FPT is 100% imported from the UK. 80% of time is spent practicing. Students will be trained exactly what businesses need, ensuring they can get a job right after graduation and have superior capabilities compared to the general human resource market. Training quality meets 5-star standards.
                100% International series of classes & activities to create a dynamic British learning environment such as:
                - E Zone area (English only)
                - Regularly participate in classes at the British and American Embassies,...
                - Transnational class (Study with foreign students)
            </p>

        </div>

    </div>
    <div class="col-4">
        <div class="row ">
            <div class="col-6">
                <img style="width: 90%; min-height: 230px; object-fit: cover;"
                     src="https://caodang.fpt.edu.vn/wp-content/uploads/sinh-vien-fpt-polytechnic-9.jpg"
                     alt="">
            </div>
            <div class="col-6">
                <img style="width: 90%; min-height: 230px; object-fit: cover;"
                     src="https://cdn1.tuoitre.vn/zoom/600_315/2019/8/8/anh-1-15652580794331323095389-crop-15652584558531134730331.jpg"
                     alt="">
            </div>
        </div>
    </div>
</div>