<div class="row">
    <div class="col-8">
        <div class="row">

            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                ipsam neque sit nam
                nisi
                voluptatibus magni, labore repudiandae impedit tenetur animi eligendi unde, aperiam
                maxime eum
                minima aspernatur officia atque illum cum nesciunt? Quisquam, optio enim saepe facilis
                odit ipsa
                rerum, facere similique omnis tenetur nostrum minus, eum doloribus a ratione nemo
                excepturi est
                at quod illo recusandae deleniti nesciunt nobis exercitationem. Provident tempore
                suscipit
                fugiat repellendus accusantium possimus optio perferendis temporibus assumenda, dicta
                neque
                repellat voluptatem eaque fugit iusto consequuntur nesciunt corrupti hic deleniti
                delectus
                excepturi rerum. Eveniet alias laudantium, vero sunt quam rem ea cupiditate unde nobis,
                expedita
                voluptatibus vel nihil natus blanditiis neque tenetur magnam libero nemo aspernatur et
                labore
                vitae delectus. Blanditiis ad, provident ullam commodi et deserunt consectetur.
            </p>

        </div>

    </div>
    <div class="col-4">
        <div class="row ">
            <div class="col-6">
                <img style="width: 90%; min-height: 230px; object-fit: cover;"
                     src="https://caodang.fpt.edu.vn/wp-content/uploads/sinh-vien-fpt-polytechnic-9.jpg"
                     alt="">
            </div>
            <div class="col-6">
                <img style="width: 90%; min-height: 230px; object-fit: cover;"
                     src="https://cdn1.tuoitre.vn/zoom/600_315/2019/8/8/anh-1-15652580794331323095389-crop-15652584558531134730331.jpg"
                     alt="">
            </div>
        </div>
    </div>
</div>