<div class="row row-cols-3 justify-content-center mt-3" style="gap: 33px;">
    <div class="col-3 border" style="height: 500px;">
        <img class="card-img-top" src="https://btec.fpt.edu.vn/wp-content/uploads/2018/03/%E1%BA%A2nh-l%C6%B0u-ni%E1%BB%87m-1-1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                BTEC FPT - BRITISH NATIONAL DIPLOMA
                LEARN A GOOD CAREER QUICKLY
            </h5>
            <p class="card-text">
                1,500+ scholarships with a total value of more than 27.3 billion VND, for candidates enrolling in 2024. Scholarship levels are worth 10% - 20% - 30% - 50% - 70% of tuition are waiting for the fastest and most talented "hunters".
                Sign up to keep your quota today!
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="col-3 border" style="height: 500px;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcMy-0IjPNC4imNcwsfM2w5cPugUEv_3Xli0ho0SQRHQ&s" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">E Zone area (English only)</h5>
            <p class="card-text">
                100% International series of classes & activities to create a dynamic British learning environment such as:
                - E Zone area (English only)
                - Regularly participate in classes at the British and American Embassies,...
                - Transnational class (Study with foreign students)
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="col-3 border" style="height: 500px;">
        <img class="card-img-top" src="https://cdn1.tuoitre.vn/zoom/600_315/tto/i/s626/2016/07/19/fpt-1-1468896265.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                BTEC FPT - BRITISH NATIONAL DIPLOMA
                LEARN A GOOD CAREER QUICKLY
            </h5>
            <p class="card-text">
                We highly appreciate BTEC FPT students for their sharpness, good thinking and analytical ability. You study and train in an international standard environment, so you are very dynamic, open-minded and have unlimited creativity, bringing many benefits to the company.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>