<div class="row row-cols-3 justify-content-center mt-3" style="gap: 33px;">
    <div class="col-3 border" style="height: 500px;">
        <img class="card-img-top" src="https://btec.fpt.edu.vn/wp-content/uploads/2018/03/%E1%BA%A2nh-l%C6%B0u-ni%E1%BB%87m-1-1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of
                the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="col-3 border" style="height: 500px;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcMy-0IjPNC4imNcwsfM2w5cPugUEv_3Xli0ho0SQRHQ&s" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of
                the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="col-3 border" style="height: 500px;">
        <img class="card-img-top" src="https://cdn1.tuoitre.vn/zoom/600_315/tto/i/s626/2016/07/19/fpt-1-1468896265.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of
                the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>