
@{
    ViewBag.Title = "HomeStudent";
    var user = HttpContext.Current.Session["user"];
}
@model List<WEB_MANGE_COURCE.Models.Student>
@Html.Partial("nav_bar")

<!--@Html.Partial("nav_bar")-->
@* End nav bar *@
<!--</div>-->
<div class="col-9 ">
    <!-- begin header -->
    <div class="row">
        @Html.Partial("header_right_account")
    </div>
    <!-- end header -->
    <!--begin container -->
    <div class="row border border-1 p-3">
        <h3>WELLCOME USER NAME</h3>
        <div class="col-6">
            <ul class="list-unstyled">
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        Cras sit amet nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        Lorem
                        ipsum dolor sit amet consectetur adi
                    </div>
                </li>
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        Cras sit amet nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        Lorem
                        ipsum dolor sit amet consectetur adi
                    </div>
                </li>
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        Cras sit amet nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        Lorem
                        ipsum dolor sit amet consectetur adi
                    </div>
                </li>
                <li class="media my-4 d-flex">
                    <img class="mr-3" style="width: 100px; height: 100px;"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_eLcRTcxGBFNEglmVs95OanHYDdK1-nVRg&usqp=CAU"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        Cras sit amet nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        Lorem
                        ipsum dolor sit amet consectetur adi
                    </div>
                </li>
                <li class="media my-4 d-block">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control  w-100" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Search...">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-6 ">
            <div class="w-100">
                <img style="width: 100%; height: 600px; object-fit: contain;"
                     src="https://btec.fpt.edu.vn/wp-content/uploads/2024/01/Ban-sao-cua-BII06554-min.jpg"
                     alt="">
            </div>
        </div>
        <hr class="  mt-3 me-3 mx-3">

        <img src="https://www.solopress.com/thumbnails/0/205395/12/vinyl-banner-category-page-banner.jpeg"
             alt="">
        <p>icon Address</p>
        <p>icon Contacts</p>
    </div>


    <!--end container -->
</div>